#home
  #header
    %h1
      wdiffer
  #form
    = form_for @diff do |f|
      .expected
        %p
          = f.label :expected
        = f.text_area :expected
      .actual
        %p
          = f.label :actual
        = f.text_area :actual
      = f.submit "Diff Me"

  #results
