- content_for :title, 'wdiffer'

#home
  #header
    %h1
      = link_to 'wdiffer', :root
    .header-links
      = link_to '(about)', :about, target: '_blank'
      %span.js-demo
        = link_to '(demo)', '#'
  #results
    %p.results.js-results
    .loader.js-loader
      = image_tag 'loader.gif'
  #form
    = form_tag do
      .expected
        %p
          = label_tag :expected
          %span.js-hide-expected
            = link_to '(hide)', '#'
        = text_area_tag :expected, nil, class: 'js-expected'
      .actual
        %p
          = label_tag :actual
        = text_area_tag :actual, nil, class: 'js-actual'
      // TODO
      .options
        %p
          = check_box_tag 'ignore_case', 'true', true, class: 'js-ignore-case'
          = label_tag 'ignore_case', "Ignore Case"
        %p.todo
          = check_box_tag 'ignore_punctuation', 'true', false, disabled: true
          = label_tag 'ignore_punctuation', "Ignore Punctuation (TODO)"

      = submit_tag "Diff Me"
