- content_for :title, 'wdiffer'

#home
  #header
    %h1
      = link_to 'wdiffer', :root
    .about-link
      = link_to '(about)', :about, target: '_blank'
  #results
    %p.results.js-results
    .loader.js-loader
      = image_tag 'loader.gif'
  #form
    = form_for @diff do |f|
      .expected
        %p
          = f.label :expected
          %span.js-hide-expected
            = link_to '(hide)', '#'
        = f.text_area :expected, placeholder: "All Scripture is inspired by God and profitable for teaching, for reproof, for correction, for training in righteousness; so that the man of God may be adequate, equipped for every good work."
      .actual
        %p
          = f.label :actual
        = f.text_area :actual, placeholder: "<Your attempt to recall 2 Timothy 3:16-17>
      // TODO
      .options
        %p
          = check_box_tag 'options[ignore_case]', 'true', false
          = label_tag 'options[ignore_case]', "Ignore Case"
        %p.todo
          = check_box_tag 'options[ignore_punctuation]', 'true', false, disabled: true
          = label_tag 'options[ignore_punctuation]', "Ignore Punctuation (TODO)"
      = f.submit "Diff Me"
